{% extends 'base.html' %}

{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Consultar Cuentas</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/stylesDetalle.css' %}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
      /* Estilos personalizados para el efecto hover */
      .hover-card {
        transition: transform 0.2s;
      }

      .hover-card:hover {
        transform: scale(
          1.05
        ); /* Cambia el tamaño al pasar el mouse sobre la tarjeta */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
      }
      
    </style>
  </head>
  {% block content %}

  <nav
    class="navbar navbar-expand-lg navbar-navbar-accordion-body bg-bg-secondary"
    style="background: #002464; color: white"
  >
    {% comment %}
    <a
      style="background: #002464; color: white; hover: color:#10f843; "
      class="navbar-brand"
      href="#"
      >Consultar Cuentas</a
    >
    {% endcomment %}
    <a
      style="
        background: #002464;
        color: white;
        text-decoration: none;
        padding: 10px 20px;
        display: inline-block;
        position: relative;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease;
      "
      href="#"
      onmouseover="this.style.color='#10f843'; this.children[0].style.width='100%'; this.children[0].style.transform='translateX(-50%)';"
      onmouseout="this.style.color='white'; this.children[0].style.width='0'; this.children[0].style.transform='translateX(0)';"
    >
      CONSULTAR CUENTAS
      <span
        style="
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          bottom: 0;
          height: 2px;
          width: 0;
          background: #10f843;
          transition: width 0.3s ease;
        "
      ></span>
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            style="
              background: #002464;
              color: white;
              text-decoration: none;
              padding: 10px 20px;
              display: inline-block;
              position: relative;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: box-shadow 0.3s ease;
            "
            href="{% url 'movimientos' usuario.id %}"
            onmouseover="this.style.color='#10f843'; this.children[0].style.width='100%'; this.children[0].style.transform='translateX(-50%)';"
            onmouseout="this.style.color='white'; this.children[0].style.width='0'; this.children[0].style.transform='translateX(0)';"
          >
            MOVIMIENTOS
            <span
              style="
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 2px;
                width: 0;
                background: #10f843;
                transition: width 0.3s ease;
              "
            ></span>
          </a>
        </li>

        <li class="nav-item">
          <a
            style="
              background: #002464;
              color: white;
              text-decoration: none;
              padding: 10px 20px;
              display: inline-block;
              position: relative;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: box-shadow 0.3s ease;
            "
            href="#"
            onmouseover="this.style.color='#10f843'; this.children[0].style.width='100%'; this.children[0].style.transform='translateX(-50%)';"
            onmouseout="this.style.color='white'; this.children[0].style.width='0'; this.children[0].style.transform='translateX(0)';"
          >
            CARTOLA DE INTERESES
            <span
              style="
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 2px;
                width: 0;
                background: #10f843;
                transition: width 0.3s ease;
              "
            ></span>
          </a>
        </li>
        <li class="nav-item">
          <a
            style="
              background: #002464;
              color: white;
              text-decoration: none;
              padding: 10px 20px;
              display: inline-block;
              position: relative;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
              transition: box-shadow 0.3s ease;
            "
            href="#"
            onmouseover="this.style.color='#10f843'; this.children[0].style.width='100%'; this.children[0].style.transform='translateX(-50%)';"
            onmouseout="this.style.color='white'; this.children[0].style.width='0'; this.children[0].style.transform='translateX(0)';"
          >
            LIQUIDACIÓN DE INTERESES
            <span
              style="
                content: '';
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                height: 2px;
                width: 0;
                background: #10f843;
                transition: width 0.3s ease;
              "
            ></span>
          </a>
        </li>
      </ul>
    </div>

    <div class="navbar-nav ml-auto">
      <a
        style="
          background: #002464;
          color: white;
          text-decoration: none;
          padding: 10px 20px;
          display: inline-block;
          position: relative;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          transition: box-shadow 0.3s ease;
        "
        href="#"
        onmouseover="this.style.color='#10f843'; this.children[0].style.width='100%'; this.children[0].style.transform='translateX(-50%)';"
        onmouseout="this.style.color='white'; this.children[0].style.width='0'; this.children[0].style.transform='translateX(0)';"
      >
        <p><a href="{% url 'custom_logout' %}">Cerrar sesión</a></p>
        <span
          style="
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            bottom: 0;
            height: 2px;
            width: 0;
            background: #10f843;
            transition: width 0.3s ease;
          "
        ></span>
      </a>
    </div>
  </nav>

  <div class="container text-center mt-5" style="background: #f8f9fa; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <h2 class="display-5" style="color: #002464; font-weight: bold">
      MOVIMIENTOS DE LA CUENTA
    </h2>
    
    <p style="color: #6c757d; font-size: 16px">
      Fecha actual: {{ fecha_actual|date:"m/d/Y H:i:s" }}
    </p>
    <p>Bienvenido, {{ usuario.Nombres }} {{ usuario.Apellidos }}.</p>
  </div>
  
  {% if messages %}
  <ul class="list-unstyled">
    {% for message in messages %}
    <li class="alert alert-{{ message.tags }} alert-success text-center mb-2">
      {{ message }}
    </li>
    {% endfor %}
  </ul>
  {% endif %}

  <div class="container mt-5">
    <table class="table table-bordered table-hover">
      <tbody>
        <tr>
          <th scope="row" class="text-primary">Acciones</th>
          <td>
            <a
              href="{% url 'ingresar_valor' usuario.id %}"
              class="btn btn-primary"
              >Realizar Deposito</a
            >
            <a
              href="{% url 'realizar_retiro' usuario.id %}"
              class="btn btn-btn-secondary bg-danger"
              style="color: white"
              >Realizar Giro</a
            >
            {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'lista_usuarios' %}" class="btn btn-primary"
              >Ver Lista de Usuarios</a
            >
            {% endif %}
          </td>
        </tr>
        {% if usuario %}
        <tr>
          <th scope="row" class="text-primary">Información de Cuenta</th>
          <td>
            <p>Cuenta N° {{ usuario.NumeroCuenta }} (CLP)</p>
            <p>SELECCIONAR OTRA CUENTA ></p>
            <select class="form-control">
              <option value="cuenta1">Cuenta Corriente</option>
              <option value="cuenta3">Cuenta Ahorro</option>
              <option value="cuenta2">Línea de Crédito</option>
            </select>
          </td>
        </tr>
        {% else %}
        <tr>
          <th scope="row" class="text-primary">Información de Cuenta</th>
          <td>
            <p>No se encontró información de la cuenta.</p>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
  {% if user.is_authenticated and user.is_staff %}
  <div class="container mt-3">
    <a
      href="{% url 'crear_transferencia' %}"
      class="btn btn-primary"
      style="
        background-color: #002464;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s ease;
      "
      onmouseover="this.style.backgroundColor='#196619';"
      onmouseout="this.style.backgroundColor='#002464';"
    >
      Realizar Transferencia
    </a>
  </div>
  {% endif %}
  
  <div class="container mt-5">
    <table class="table table-bordered table-hover">
      <tr>
        <td class="col-md-6">
          <!-- Primera columna -->
          <div
            class="card hover-card"
            style="transition: transform 0.3s ease; transform-origin: center"
          >
            <div class="card-body" style="transform-origin: center">
              <h5 class="card-title">Saldo Disponible Cuenta Corriente</h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <i class="fas fa-dollar-sign mr-4"></i>
                </div>
                <p class="card-text">{{ usuario.SaldoCuentaCorriente }}</p>
              </div>
            </div>
          </div>
        </td>
        <td class="col-md-6">
          <!-- Segunda columna -->
          <div
            class="card hover-card"
            style="transition: transform 0.3s ease; transform-origin: center"
          >
            <div class="card-body" style="transform-origin: center">
              <h5 class="card-title">
                Saldo Disponible Línea de Crédito
                <i class="fas fa-question-circle"></i>
              </h5>
              <div class="input-group">
                <div class="input-group-prepend">
                  <i class="fas fa-dollar-sign mr-4"></i>
                </div>
                <p class="card-text">{{ usuario.SaldoLineaCredito }}</p>
              </div>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-md-6">
          <div class="card hover-card mt-3">
            <div class="card-body">
                <h5 class="card-title">Saldo Contable</h5>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <i class="fas fa-dollar-sign mr-4"></i>
                    </div>
                    <!-- Identificador "saldoContable" agregado para actualizar dinámicamente -->
                    <p id="saldoContable" class="card-text">{{ usuario.SaldoContable }}</p>
                </div>
            </div>
        </div>
        
        </td>
        <td class="col-md-6">
          <div
            class="card hover-card mt-3"
            style="transition: transform 0.3s ease; transform-origin: center"
          >
            <div class="card-body" style="transform-origin: center">
              <h5 class="card-title">
                Total Cargos <i class="fas fa-dollar-sign"></i>
              </h5>
              <p class="card-text">{{ usuario.TotalCargos }}</p>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="col-md-6">
          <div
            class="card hover-card mt-3"
            style="transition: transform 0.3s ease; transform-origin: center"
          >
            <div class="card-body" style="transform-origin: center">
              <h5 class="card-title">
                Retenciones 24H <i class="fas fa-question-circle"></i>
              </h5>
              <p class="card-text"></p>
            </div>
          </div>
        </td>
        <td class="col-md-6">
          <div
            class="card hover-card mt-3"
            style="transition: transform 0.3s ease; transform-origin: center"
          >
            <div class="card-body" style="transform-origin: center">
              <h5 class="card-title">
                Total Abonos <i class="fas fa-dollar-sign"></i>
              </h5>
              <p class="card-text">{{ usuario.TotalAbonos }}</p>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div class="container mt-5">
    <h2>SIMULA AQUÍ:</h2>
  </div>
  <div class="container mt-5">
    <div
      class="card hover-card"
      style="transition: transform 0.3s ease; transform-origin: center"
    >
      <div class="card-body" style="transform-origin: center">
        <h5 class="card-title">
          Tienes un crédito de consumo preaprobado por $14.450.000, con abono
          inmediato en tu cuenta corriente.
        </h5>
      </div>
    </div>
  </div>
<!-- Agrega este script en tu sección de scripts o en un archivo de scripts externo -->
<script>
  // Función para actualizar dinámicamente el Saldo Contable mediante AJAX
  function actualizarSaldoContable() {
      var usuarioId = {{ usuario.id }};
      $.ajax({
          url: '/actualizar_saldo_contable/' + usuarioId + '/',
          type: 'GET',
          dataType: 'json',
          success: function (data) {
              // Actualiza dinámicamente el Saldo Contable en la página
              $('#saldoContable').text(data.saldo_contable);
          },
          error: function (xhr, status, error) {
              console.error('Error al actualizar el Saldo Contable:', error);
          }
      });
  }

  // Llama a la función de actualización al cargar la página
  $(document).ready(function () {
      actualizarSaldoContable();

      // También puedes llamar a esta función después de realizar una transferencia
      // o cualquier otra acción que actualice el Saldo Contable
  });
</script>
    
  

  <!-- Agrega este script en tu sección de scripts o en un archivo de scripts externo -->
<!-- Agrega este script en tu sección de scripts o en un archivo de scripts externo -->
<script>
  // Función para mostrar el modal de sesión con cuenta regresiva
  function showSessionModal() {
      var overlay = document.getElementById('overlay');
      var modal = document.getElementById('sessionModal');

      // Muestra el fondo oscuro y el modal
      overlay.style.display = 'block';
      modal.style.display = 'block';

      // Inicia la cuenta regresiva de 30 segundos
      var tiempoRestante = 15;
      actualizarTiempoRestante();

      // Función para actualizar dinámicamente el tiempo restante en el modal
      function actualizarTiempoRestante() {
          if (tiempoRestante > 0) {
              tiempoRestante--;
              document.getElementById('tiempoRestante').innerText = tiempoRestante;
              setTimeout(actualizarTiempoRestante, 1000); // Actualiza cada segundo
          } else {
              // Si se agota el tiempo, redirige a la vista de custom_login
              window.location.href = "{% url 'custom_login' %}";
          }
      }
  }

  // Simula la cuenta regresiva del tiempo de sesión
  setTimeout(showSessionModal, {{ request.session.get_expiry_age|default:0 }} * 1000); // Muestra el modal según el tiempo restante
</script>

<!-- Agrega este HTML al cuerpo de tu página -->
<div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); z-index: 999;"></div>
<div id="sessionModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background: #002464;color: white; padding: 20px; border: 1px solid #ccc; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); z-index: 1000;">
  <p>¡La sesión está a punto de expirar! ¿Deseas continuar? Tiempo restante: <span id="tiempoRestante">30</span> segundos</p>
  <button onclick="continuar()" class="btn btn-primary" style="margin-right: 10px;">Continuar</button>
  <button onclick="salir()"class="btn btn-btn-secondary bg-danger" style="color: white">Salir</button>
</div>

<!-- Agrega estas funciones al script para personalizar el comportamiento de los botones en el modal -->
<script>
  function continuar() {
     
      window.location.href = "{% url 'detalle_cuenta' usuario_id=usuario.id %}";
      hideModal();
  }
  {% comment %} function continuar() {
    // Redirige al usuario a la vista de detalle_cuenta y renueva la sesión
    window.location.href = "{% url 'detalle_cuenta' usuario_id=usuario.id %}?renovar_sesion=true";
    hideModal();
} {% endcomment %}


  function salir() {
      // Si el usuario elige salir, redirige a la vista de custom_login
      window.location.href = "{% url 'custom_login' %}";
  }

  function hideModal() {
      var overlay = document.getElementById('overlay');
      var modal = document.getElementById('sessionModal');

      // Oculta el fondo oscuro y el modal
      overlay.style.display = 'none';
      modal.style.display = 'none';
  }
</script>






  {% endblock %}
</html>
