{% extends 'base.html' %}

{% block content %}
        <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        />
        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        />
        <link
        rel="stylesheet"
        type="text/css"
        href="{% static 'css/stylesDetalle.css' %}"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script><!-- Agrega el código de Bootstrap y jQuery si aún no lo has agregado en esta plantilla -->

  <!-- Agrega el código JavaScript para mostrar la alerta antes de redirigir -->
  <script>
    $(document).ready(function () {
      $('#session-expiry-warning').modal('show');
      // Puedes agregar un temporizador o eventos adicionales según tus necesidades
      setTimeout(function () {
        window.location.href = "{% url 'custom_login' %}";  // Redirige después de cierto tiempo
      }, 5000);  // Por ejemplo, después de 5 segundos
    });
  </script>

  <!-- Agrega aquí el código HTML para tu modal de advertencia --> <div class="modal fade" id="session-expiry-warning" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">¡Advertencia de Sesión!</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Su sesión está a punto de expirar. ¿Desea continuar?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="continuarSession()">Continuar</button>
            <button type="button" class="btn btn-primary" onclick="cerrarSesion()">Cerrar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  <!-- ... -->

{% endblock %}
